<input type="text" #searchtext name="searchtext" (keyup)="filterUsers(searchtext)" />

<div *ngIf="users.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Company</th>
        <th scope="col">Website</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.company.name }}</td>
        <td>{{ user.website }}</td>
        <td>{{ user.address.suite + " " + user.address.street + " " + user.address.city + user.address.zipcode }}</td>
      </tr>
    </tbody>
  </table>
</div>